@font-face {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body{
    border: 1px solid #000;
    width: 80%;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 5%;
    font-size: 18px;
    font-family: "Outfit", sans-serif;
}

p{
    font-family:comic 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

figure{
    text-align: center;
}

img{
    width: 30%;
    height: 20%;
}

li.linav{
    display: inline-block;
    width: 25%;
    height: 30px;
    padding-top: 10px;
    background-color: rgb(102, 170, 233);
    text-align: center;
    color: black;
    font-size: 15px;
    font-weight: bold;
    list-style: none;
}

table{
    border: 3px solid rgba(128, 128, 128, 0.582);
    border-collapse: collapse;
}

td{
    text-align: center;
    border: 3px solid  rgba(128, 128, 128, 0.582);
}

th{
    text-align: center;
    border: 3px solid rgba(128, 128, 128, 0.582);
}

h1{
    padding-bottom: 2%;
    border-bottom: 5px solid rgb(102, 170, 233);
}

h2{
    color: black;
    text-decoration: underline solid black 3px;
    background-color: rgba(225, 146, 241, 0.922);
}

a{
    color: black;
    text-decoration: none;
}

ol.heather{
    border: 1px solid #000;
    list-style: none;
    margin: 0 auto;
    padding: 0%;
    width: 100px;
}

ol.nav1{
    border: 1px solid #000;
    list-style: none;
    padding-left: 0%;
    margin-top: 0 auto;
    height: 40px;
}

li.liheather{
    color: black;
    font-weight: bold;
    list-style: none;
}

footer{
    text-align: right;
}

li.linav:hover{
    background-color: rgb(83, 22, 215);
}

a.enlacesnav:hover{
    color: aliceblue;
}

div#video{
    text-align: center;
}

img#twitter{
    padding-top: 10px;
    display: block;
    width: 50px;
    text-align: left;
}
