@font-face {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

@media (min-width: 481px) {
    nav:nth-of-type(1) {
        display: block;
        width: 100%;
    }

    nav:nth-of-type(1) ol {
        margin: 0 auto;
        width: 100%;
    }


nav:nth-of-type(1) ol li {
    width: 25%;
    margin-left: 0;
    min-width: 15px;
    vertical-align: top;
}

nav:nth-of-type(2) {
    display: none;
}

}
@media (max-width:480px) {
    header nav:nth-child(1) {
        display: none;
        padding-bottom: 10px;
    }

    header nav:nth-of-type(2) ol li {
        display: block;
        width: 200%;
        border: 1px solid black;
        padding: 0;
    }

    header nav:nth-of-type(2) ol {
        display: block;
        width: 45%;
        border: none;

    }

    main{
        margin-top: 40%;
    }

}

body{
    font-family: "Itim", cursive;
    background-color: aliceblue;
    border: 1px solid #000;
    width: 80%;
    margin: 0 auto;
    padding: 5%;
    font-size: 18px;
    font-style: normal;
}

li.linav{
    display: inline-block;
    width: 300px;
    height: 30px;
    padding-top: 10px;
    background-color: rgb(102, 170, 233);
    text-align: center;
    color: black;
    font-size: 15px;
    font-weight: bold;
    list-style: none;
}

ol.nav1{
    border: 1px solid #000;
    list-style: none;
    padding-left: 0%;
    margin-top: 0 auto;
    width: 1200px;
    height: 40px;
}

li.linav:hover{
    background-color: rgb(83, 22, 215);
}

a.enlacesnav:hover{
    color: aliceblue;
}

a{
    color: black;
    text-decoration: none;
}